node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example
# Certificats SSL
backend/certs/
certs/

# Variables d'environnement
backend/.env
.env

# Logs
backend/logs/

# Fichiers temporaires
arborescence.txt
